.modal-overlay-creation-screen {
    position:fixed;
    display:flex;
    justify-content:center;
    align-items: center;
    top: 50px;        /* moves box 100px down from top */
    left: 50%;         /* center horizontally */
    transform: translateX(-50%); /* center exactly horizontally */
    z-index:1000; /*High z-index to sit above everything*/
}


.creation-screen {
    background-image: url('../assets/WaterTown.jpeg');
    width:50vw;
    height:50vh;
    padding:20px;
    background-repeat: no-repeat; 
}

.creation-screen-data {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    gap:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    position: relative;
}